# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Runtime artifacts
Python/tare.json
tare.json
.calib_backup
calib_backup/
calib_backup

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
