# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Runtime artifacts
Python/tare.json

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
