<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

	<appSettings>
		<add key="AWSProfileName" value="profile1"/>
		<add key="AWSAccessKey" value="your Access Key goes here"/>
		<add key="AWSSecretKey" value="your Secret Key goes here"/>
	</appSettings>
</configuration>
